[project]
name = "agent2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "azure-ai-agentserver-agentframework==1.0.0b5"
]
